GITHUB_PAT=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


#DOMAIN
DOMAIN_FRONTEND=http://localhost



# PORT 


PORT_SERVICE_BACKEND=5000
PORT_FRONTEND=3000



#GITHUB OAUTH
GITHUB_CLIENT_ID=Ov23lik3HiCw8svL1G5f
GITHUB_CLIENT_SECRET=e54c53ca22866af6b7cee6c0dc0e0fb92d2365b5


#GITLAB OAUTH
GITLAB_CLIENT_ID=48e44280e6548a7376f577bc97a72358b36751370934b201f83eada03aa79f0b
GITLAB_CLIENT_SECRET=6f3f5f5gloas-fdbc86dadcdf1d30f7a98cb6c49f0aa202a8777118a0793847091b1c017fd1ccf4d5c3
GITLAB_REDIRECT_URI=http://localhost:5173/import-repos


#DATABASE CONFIGURATION
DB_USER=sa
DB_PASSWORD=Anh12345@
DB_SERVER=localhost
DB_NAME=master
DB_PORT=1433
DB_ENCRYPTED=false
DB_TRUSTED_CONNECTION=true
DB_CONNECTION_TIMEOUT=30000
DB_REQUEST_TIMEOUT=30000
DB_POOL_MAX=10
DB_POOL_MIN=0
 

# JWT AUTHENTICATION
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
JWT_ISSUER=your_app_name
JWT_AUDIENCE=your_app_audience
# OTP CONFIGURATION
OTP_EXPIRATION_MINUTES=10
OTP_LENGTH=6
# EMAIL CONFIGURATION
EMAIL_SERVICE=smtp.example.com
EMAIL_PORT=587
CLIENT_ID_GOOGLE=974444843175-mpe6291lpu26v7ub8pvskq3kdedvrklq.apps.googleusercontent.com
CLIENT_SECRET_GOOGLE=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
ACCESS_TOKEN_GOOGLE=ya29.a0AQQ_BDQFgND-bDo8TD65jOTq0Wf6dS59T5ALbACCWqi_mtTRbB69k8lfR9rWYAizUrdEgpDlJDk4BaN-Zf2OjQPTrw_9_0LSNRcaLZJ_0xY_MEXGFdXTzfzQE8IjhIhF3KKejF5Nr18xUtWIpqWjFr-bvaDo0K5FGFighCUTHyZXS1Ic8A9U5aJnen8vc9q8m2MZ-SkaCgYKAYISARESFQHGX2MiVyeGUgR5EB8YRcvfoDO6zw0206
REDIRECT_URI=https://developers.google.com/oauthplayground
EMAIL_ADDRESS=anhnv.24810310060@epu.edu.vn
